.song-container {
  width: 85%;
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 25%;
    border-radius: 50%;
    transition: all 2s ease;
    &.img-active {
      animation: rotate 20s ease infinite forwards;
    }
  }
  h3,
  h4 {
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0.8rem 0;
    font-weight: 200;
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
    color: $lightGray;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
    h3,
    h4 {
      margin: 1rem 0;
    }
  }
}
